<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mbo.counter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.bdzapps.counterpp.CounterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.bdzapps.counterpp.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.bdzapps.counterpp.addeditcounter.AddEditCounterActivity"/>

        <activity android:name="com.bdzapps.counterpp.counter.CounterActivity"/>

        <activity android:name="com.bdzapps.counterpp.settings.SettingsActivity"/>

        <activity android:name="com.bdzapps.counterpp.counterstatistics.CounterStatisticsActivity"/>

        <activity android:name="com.bdzapps.counterpp.countersettings.CounterSettingsActivity"/>

        <activity android:name="com.bdzapps.counterpp.folderlist.FolderListActivity"/>

        <activity android:name="com.bdzapps.counterpp.about.AboutActivity"/>

        <activity android:name="com.bdzapps.counterpp.counterlist.CounterListActivity"/>

        <activity android:name="com.bdzapps.counterpp.folderstatistics.FolderStatisticsActivity"/>

        <activity
            android:name="com.bdzapps.counterpp.webview.WebViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>
</manifest>